:root {
    --background-color: #E2E8F0;
    --sidebar-color: #1992D4;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 200px 1fr;
}

.sidebar {
    background-color: var(--sidebar-color);
    border-right: solid black 2px;
    position: sticky;
    height: 100vh;
    top: 0;
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.header {
    background-color: var(--white);
}

.content {
    background-color: #E2E8F0;
}

.content-grid {
    display: grid;
    grid-template-columns: 2fr 300px; 
    gap: 32px;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.sub-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.card {
    background-color: var(--white);
    border-radius: 12px;
    padding: 24px 18px;
    border: solid 2px black;
}

.mb-32 {
    margin-bottom: 32px;
}

.gap-32 {
    gap: 32px;
}