:root {
    --background-color: #E2E8F0;
    --sidebar-color: #1992D4;
    --white: #FFFFFF;
    --yellow: #F0B429;
}

* {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 300px 1fr;
}

/* ----- Sidebar Styles ----- */

.sidebar {
    background-color: var(--sidebar-color);
    position: sticky;
    height: 100vh;
    top: 0;
    padding: 24px;
}

.sidebar-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

.sidebar-title {
    font-size: 32px;
    color: var(--white);
    font-weight: bold;
}

.sidebar-link {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.sidebar-grid p {
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
}

.sidebar-grid div div {
    margin-bottom: 18px;
}

/* ----- Header Styles ----- */

.header {
    background-color: var(--white);
    padding: 24px 32px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}

.search-input {
    border: none;
    background-color: #E2E8F0;
    border-radius: 24px;
    padding: 12px 16px;
}

.profile-pic {
    width: 64px;
}

.lg-name {
    font-size: 24px;
    font-weight: bold;
}

.lg-icon {
    width: 48px;
}

.icon {
    width: 32px;
}

/* ------ Flex Styles ------ */

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: end;
}

.align-center {
    align-items: center;
}

.gap-32 {
    gap: 32px;
}

.gap-16 {
    gap: 16px;
}

.gap-12 {
    gap: 12px;
}

/* Grid Styles */

.content-grid {
    display: grid;
    grid-template-columns: 3fr 1fr; 
    gap: 24px;
    padding: 32px 24px;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.sub-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

.sub-grid > div {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 32px;
}

/* ----- Card Styles ----- */

.card {
    background-color: var(--white);
    border-radius: 12px;
    padding: 24px 18px;
    border-left: solid 8px var(--yellow);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

.blank-card {
    background-color: var(--white);
    border-radius: 12px;
    padding: 24px 18px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

.project-card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
}

.project-card-text {
    color: #979797;
}

/* Misc Styles */

.mb-32 {
    margin-bottom: 32px;
}